@media only screen and (max-width: 1450px) {
    ul li{
        font-size: 70%;
    }

 }
 @media only screen and (max-width: 1030px) {
    ul li{
        font-size: 50%;
    }
 }
 @media only screen and (max-width: 740px) {
    ul li{
        font-size: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .inscri_box{
        left:28%;
     }
    .box{
        padding: 2%;
    }
}

@media only screen and (max-width: 1200px) {
    .container .paragraph{
        font-size: 10px;
    }
    .container .rjdr{
        font-size: 10px;
    }
    .container h1{
        font-size: 200%;
    }
}

@media only screen and (max-width: 810px) {
    .container .paragraph{
        font-size: 6px;
    }
    .box{
        left:70%;
    }
    .container .rjdr{
        font-size: 8px;
        height: 20px;
    }
    .container h1{
        font-size: 150%;
    }
}
@media only screen and (max-width: 635px) {
    .container .paragraph{
        font-size: 4px;
    }
    .bouton5{
        width: 100%;
        height: 20px;
        margin-top: 20px;
        font-size: 12px;
    }
    .box .inscipt{
        width: 100%;
        margin-top: 5px;
        font-size: 11px; 
    }
    .bouton1{
        width: 100%;
        height: 20px;
        margin-top: 20px;
        font-size: 12px;
    }
    .box input{
        width: 100%;
        height: 6%;
        font-size: 5px;
    }
    .box h2{
        width: 90%;
        font-size:8px;
    }
    .box{
        left: 70%;
        width: 100px;
        height: 150px;
    }
    .container .rjdr{
        font-size: 6px;
        height: 15px;
    }
    .container h1{
        font-size: 100%;
    }
}

@media only screen and (max-width: 1160px) {
    .box{
        width: 150px;
        height: 220px;
    }
    .bouton5{
        margin-top: 15px;
        width: 100%;
        height: 25px;
        font-size: 14px;
    }
    .annulreg {
        width: 100%;
        margin-top: 10px;
        font-size: 10px;
    }
    .inscri_box input{
        width: 100%;
        font-size: 10px;
    }
    .inscri_box h2{
        width: 90%;
        font-size:20px;
    }
    .inscri_box{
        width: 200px;
        height: 300px;
    }
    .box .inscipt{
        width: 100%;
        height: 30px;
        font-size: 15px;
    }
    .box input{
        width: 100%;
        height: 6%;
        font-size: 10px;
    }
    .box h2{
        width: 90%;
        font-size:16px;
    }
    .bouton1{
        width: 100%;
        height: 30px;
        font-size: 14px;
    }
}