*{
    margin: 0;
    padding: 0;
}

html{
  
    background: linear-gradient(to top, rgba(0,0,0,0.5)35%,rgba(0,0,0,0.5)45%), url(../img/image_fond2.jpg);
    
}

.page{
    width:100%;
    height: 100%;
}

.navigation{
    
    height: 75px;
    margin: 2%;
    margin-left: 10%;
}

.logo_box{
    width: 10%;
    float: left;
    height: 10%;
}


.logo{
    color: #e77a21;
    padding-left: 5%;
    float: left;
    padding-top: 5%;
    margin-top: 5%
}

.logo img{
    border: 6px double;
    border-radius: 20%;
    box-shadow: 10px 5px 5px #e77a21;
    border-color: blueviolet;
    width: 80%;
}
.menu{
    padding-top: 2%;
    width: 65%;
    float: left;
    height: 80%;
}

ul{
    float: left;
    position:absolute;
    display:flex;
    align-items: center;
}

ul li{
    list-style: none;
    padding-left:20%;
    margin-top: 8%;
    font-size: 100%;
}
@media only screen and (max-width: 1450px) {
    ul li{
        font-size: 70%;
    }

 }
 @media only screen and (max-width: 1030px) {
    ul li{
        font-size: 50%;
    }
 }
 @media only screen and (max-width: 740px) {
    ul li{
        font-size: 30%;
    }
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #e77a21;
}

.rechercher{
    float: left;
    margin-top:3%;
    position: relative;
    width: 25%;
}
@media only screen and (max-width: 1030px) {
    .rechercher{
        width: 25%;
        height: 150%;
    }
}
@media only screen and (max-width: 600px) {
    .rechercher{
        width: 15%;
        height: 100%;
        left:10%;
    }
}


.rchr{
    font-family: 'Times New Roman';
    width: 50%;
    height: 20%;
    background: transparent;
    border: 1px solid #e77a21;
    margin-top: 4%;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 2.8%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
@media only screen and (max-width: 1030px) {
    .rchr{
        width: 45%;
        font-size: 7px;;
    }
}
@media only screen and (max-width: 600px) {
    .rchr{
        width: 35%;
        font-size: 2px;;
    }
}

.bouton{
    width: 30%;
    background: #e77a21;
    border: 2px solid #e77a21;
    margin-top: 4%;
    padding-top:3%;
    padding-bottom: 2%;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

@media only screen and (max-width: 1030px) {
    .bouton{
        width: 25%;
        font-size: 7px;;
        height: 20%;
    }
}
@media only screen and (max-width: 600px) {
    .bouton{
        width: 35%;
        font-size: 3px;;
        height: 0%;
        position: relative;
        bottom:6%;
        padding-bottom: 10%;
        
    }
}
.bouton:hover{
    color: #000;
}

.bouton:focus{
    outline: none;
}

.rchr:focus{
    outline: none;
}

.container{
    width: 80%;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.container .paragraph{
    padding-left: 2%;
    padding-bottom: 2%;
    font-family: Arial;
    letter-spacing: 1.1px;
    line-height: 200%;
}
@media only screen and (max-width: 1200px) {
    .container .paragraph{
        font-size: 10px;
    }
}

@media only screen and (max-width: 810px) {
    .container .paragraph{
        font-size: 6px;
    }
}
@media only screen and (max-width: 635px) {
    .container .paragraph{
        font-size: 4px;
    }
}
.container h1{
    font-family: 'Times New Roman';
    font-size: 300%;
    padding-left: 1%;
    margin-top: 9%;
    letter-spacing: 2px;
}
@media only screen and (max-width: 1200px) {
    .container h1{
        font-size: 200%;
    }
}
@media only screen and (max-width: 810px) {
    .container h1{
        font-size: 150%;
    }
}
@media only screen and (max-width: 635px) {
    .container h1{
        font-size: 100%;
    }
}

.container .rjdr{
    width: 15%;
    height: 40px;
    background: #e77a21;
    border: none;
    margin-bottom: 10%;
    margin-left: 1%;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;   
}
@media only screen and (max-width: 1200px) {
    .container .rjdr{
        font-size: 10px;
    }
}
@media only screen and (max-width: 810px) {
    .container .rjdr{
        font-size: 8px;
        height: 20px;
    }
}
@media only screen and (max-width: 635px) {
    .container .rjdr{
        font-size: 6px;
        height: 15px;
    }
}


.container .rjdr a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.rjdr:hover{
    background-color: #fff;
}

.container span{
    color: #e77a21;
    font-size: 65px
}

.box{
    width: 250px;
    padding: 25px;
    height: 380px;
    top: 0%;
    left: 80%;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    transform: translate(0%,-5%);
    border-radius: 10px;
}
@media only screen and (max-width: 1160px) {
    .box{
        width: 150px;
        height: 220px;
    }
}
@media only screen and (max-width: 810px) {
    .box{
        left:70%;
    }
}
@media only screen and (max-width: 635px) {
    .box{
        left: 70%;
        width: 100px;
        height: 150px;
    }
}
.box h2{
    margin: 3px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 10px;
    color: #e77a21;
    width: 90%;
    font-size: 22px;
    background-color: #fff;
    padding: 4%;
}
@media only screen and (max-width: 1160px) {
    .box h2{
        width: 90%;
        font-size:16px;
    }
}
@media only screen and (max-width: 635px) {
    .box h2{
        width: 90%;
        font-size:8px;
    }
}

.box input{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #e77a21;
    border-top: none;
    letter-spacing: 1px;
    margin-top: 10%;
    font-family: sans-serif;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    background: transparent;
}
@media only screen and (max-width: 1160px) {
    .box input{
        width: 100%;
        height: 6%;
        font-size: 10px;
    }
}
@media only screen and (max-width: 635px) {
    .box input{
        width: 100%;
        height: 6%;
        font-size: 5px;
    }
}


.box input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.bouton1{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    background: #e77a21;
    color: #fff;
    transition: 0.4s ease;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
@media only screen and (max-width: 1160px) {
    .bouton1{
        width: 100%;
        height: 30px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 635px) {
    .bouton1{
        width: 100%;
        height: 20px;
        margin-top: 20px;
        font-size: 12px;
    }
}
.bouton1:hover{
    background: #fff;
    color: #e77a21;
}
.bouton1 a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.box .inscipt{
    padding-top: 8%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
}
@media only screen and (max-width: 1160px) {
    .box .inscipt{
        width: 100%;
        height: 30px;
        font-size: 15px; ;
    }
}
@media only screen and (max-width: 635px) {
    .box .inscipt{
        width: 100%;
        margin-top: 5px;
        font-size: 11px; ;
    }
}
.box .inscipt a{
    text-decoration: none;
    color: #e77a21;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
