*{
    margin: 0;
    padding: 0;
}

html{
  
    background: linear-gradient(to top, rgba(0,0,0,0.5)35%,rgba(0,0,0,0.5)45%), url(../img/image_fond2.jpg);
    
}

.page{
    width:100%;
    height: 100%;
}

.navigation{
    
    height: 75px;
    margin: 2%;
    margin-left: 10%;
}

.logo_box{
    width: 10%;
    float: left;
    height: 10%;
}


.logo{
    color: #e77a21;
    padding-left: 5%;
    float: left;
    padding-top: 5%;
    margin-top: 5%
}

.logo img{
    border: 6px double;
    border-radius: 20%;
    box-shadow: 10px 5px 5px #e77a21;
    border-color: blueviolet;
    width: 80%;
}
.menu{
    padding-top: 2%;
    width: 65%;
    float: left;
    height: 80%;
}

ul{
    float: left;
    position:absolute;
    display:flex;
    align-items: center;
}

ul li{
    list-style: none;
    padding-left:20%;
    margin-top: 8%;
    font-size: 100%;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #e77a21;
}

.container{
    width: 80%;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.container .paragraph{
    padding-left: 2%;
    padding-bottom: 2%;
    font-family: Arial;
    letter-spacing: 1.1px;
    line-height: 200%;
}
.container h1{
    font-family: 'Times New Roman';
    font-size: 300%;
    padding-left: 1%;
    margin-top: 9%;
    letter-spacing: 2px;
}

.container .rjdr{
    width: 15%;
    height: 40px;
    background: #e77a21;
    border: none;
    margin-bottom: 10%;
    margin-left: 1%;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;   
}

.container .rjdr a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.rjdr:hover{
    background-color: #fff;
}

.container span{
    color: #e77a21;
    font-size: 65px
}

.box{
    width: 250px;
    padding: 25px;
    height: 380px;
    top: 0%;
    left: 80%;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    transform: translate(0%,-5%);
    border-radius: 10px;
}

.box h2{
    margin: 3px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 10px;
    color: #e77a21;
    width: 90%;
    font-size: 22px;
    background-color: #fff;
    padding: 4%;
}
.box input{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #e77a21;
    border-top: none;
    letter-spacing: 1px;
    margin-top: 10%;
    font-family: sans-serif;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    background: transparent;
}

.box input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.bouton1{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    background: #e77a21;
    color: #fff;
    transition: 0.4s ease;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.bouton1:hover{
    background: #fff;
    color: #e77a21;
}
.bouton1 a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.box .inscipt{
    padding-top: 8%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
}

.box .inscipt a{
    text-decoration: none;
    color: #e77a21;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*KEVIN PAGE ENREGISTREMENTS*/
.inscri_box{
    width: 250px;
    padding: 20px;
    height: 500px;
    top: 20%;
    left: 43%;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    transform: translate(0%,-5%);
    border-radius: 10px;
}

.inscri_box h2{
    margin: 3px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 10px;
    color: #e77a21;
    width: 90%;
    font-size: 22px;
    background-color: #fff;
    padding: 4%;
}


.inscri_box input{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #e77a21;
    border-top: none;
    letter-spacing: 1px;
    font-family: sans-serif;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    background: transparent;
}

.inscri_box input:focus{
    outline: none;
}

.annulreg{
    text-align: center;
}
.annulreg a{
    text-decoration: none;
    color: white;
    border: 5px groove black;
    background-color: #e77a21;
    padding: 2px;
}
.annulreg a:hover{
    transition: 0.4s ease-in;
    background-color: #fff;
    color: #e77a21;
}

.bouton5{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    background: #e77a21;
    color: #fff;
    transition: 0.4s ease;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.bouton5:hover{
    background: #fff;
    color: #e77a21;
}
.bouton5 a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


/*LA PARTIE à LUCAS */
.titre_apropo{
    margin-top: 5%;
    font-size: 50px;
    color: white;
}
.text_apropo p{
    margin-left: 15%;
}
.apropos{
    text-align: center;
    justify-content: center;
    position: absolute;
}

.text_apropo{
    color: white;
    width: 75%;
    margin : 5% ;
}
.bouton2{
    width: 240px;
    height: 40px;
    margin-top: 30px;
    background: #e77a21;
    color: #fff;
    transition: 0.4s ease;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;

}
.apropos img{
    width: 300px;
    height: 200px;
    margin: 1%;
    display: inline-block;
}