*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    background:url("image_fond.jpg");
    background-position: center;
    background-size: cover;
    height: 109vh;
}
