.information {
  background-color: var(--background);
  width: 100%;
  color: #f2f2f2;
}

.information-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
}
.information-container h1{
  color:blueviolet;
}
.information-container a{
  color:darkorange;
}
.information-siege{
  position: relative;
  width:100%;
}
